<@html.html>
<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form id="searchForm" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1" for="id">id</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="id" id="id">
                    </div>
                    <label class="control-label col-sm-1" for="name">设备名称</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="col-sm-4" style="text-align:left;">
                        <button type="button" style="margin-left:50px" id="searchButton" class="btn btn-primary">查询
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox-content ">
        <table id="table"></table>
    </div>
</div>


<script>
    $(function () {
        $('#table').bootstrapTable({
            columns: [{
                checkbox: true
            },{
                field: 'id',
                title: 'id'
            }, {
                field: 'name',
                title: '设备名称'
            }, {
                field: 'location',
                title: '地址'
            }],
            url: '${base}/wavelab/device/find',         //请求后台的URL（*）
            searchForm: "#searchForm",
            searchButton: "#searchButton",
        });
    });
</script>
</@html.html>